<div class="dashboard-page">
    <div class="site-data mt-0">
        <form class="row site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="d-flex justify-content-between">
                <h2>Security</h2>
                <div>
                    <button type="submit" [disabled]="isButtonClicked" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>
            <br>
            <h4 class="mb-3">Click Edit to update your <strong>Password</strong>.</h4>
            <div class="col-md-6">
                <div class="form-control-box" [ngClass]="{ 'is-invalid': submitted && f['oldpasswd'].errors }">
                    <label for="oldpasswd">Current Password</label>
                    <input id="oldpasswd" type="password" formControlName="oldpasswd" class="form-control" autocomplete="off"/>
                </div>
                <div *ngIf="submitted && f['oldpasswd'].errors" class="invalid-feedback">
                    <div *ngIf="f['oldpasswd'].errors['required']">Current Password is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-control-box" [ngClass]="{ 'is-invalid': submitted && f['passwd1'].errors }">
                    <label for="passwd1">New Password</label>
                    <input id="passwd1" type="password" formControlName="passwd1" class="form-control" autocomplete="off"/>
                </div>
                <div *ngIf="submitted && f['passwd1'].errors" class="invalid-feedback">
                    <div *ngIf="f['passwd1'].errors['required']">New Password is required</div>
                    <div *ngIf="f['passwd1'].errors['minlength']">Password must be at least 3 characters</div>
                    <div *ngIf="f['passwd1'].errors['maxlength']">Password must not exceed 20 characters</div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-control-box" [ngClass]="{ 'is-invalid': submitted && f['passwd2'].errors }">
                    <label for="passwd2">Confirm Password</label>
                    <input id="passwd2" type="password" formControlName="passwd2" class="form-control" autocomplete="off"/>
                </div>
                <div *ngIf="submitted && f['passwd2'].errors" class="invalid-feedback">
                    <div *ngIf="f['passwd2'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="f['passwd2'].errors['matching']">Confirm Password does not match</div>
                </div>
            </div>
        </form>
    </div>
</div>