<div class="header">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <a [routerLink]="'/'"><img src="assets/images/logo.svg" alt="EstateX"></a>
            <button *ngIf="walletAddress && type === 'staking'" routerLink="/staking-pool" type="button" class="btn btn-link">Staking Pool</button>
            <button *ngIf="type==='pledge'" routerLink="/veriff-verification" type="button" class="btn btn-link">Pledge Pool</button>
        </div>
        <div class="right">
            <button *ngIf="!walletAddress; else connected" type="button" (click)="openNetworkModal(type)" class="btn btn-accent">CONNECT WALLET</button>
            <ng-template #connected>
                <button type="button" class="btn metamask-btn btn-accent"><img src="assets/images/{{networkIcon}}" alt=""> {{walletAddress | trimValue}}</button>
                <button *ngIf="wrongNetwork" (click)="changeNetwork()" class="btn btn-link text-danger">Change Network</button>
                <button type="button" class="btn btn-link" *ngIf="type==='pledge' && isPledgeLogin" routerLink="/dashboard">Dashboard</button>
                <button type="button" class="btn btn-link" (click)="logout()">Logout</button>
            </ng-template>
        </div>
    </div>
</div>