<div class="dashboard-page">
    <div class="row" >
        <div class="col-md-4">
            <div class="chart-box">
                <div class="info">
                    <div class="type">Total Active Users</div>
                    <div class="count">58</div>
                    <!-- <div class="result" [ngClass]="dashboardDate.totalUsersPercent < 0 ? 'red' : ''" >
                        <img class="green" src="assets/images/icon-up-green.svg" alt="">
                        <img class="red" src="assets/images/icon-down-red.svg" alt=""> {{dashboardDate.totalUsersPercent}}%
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chart-box">
                <div class="info">
                    <div class="type">Total Pledge</div>
                    <div class="count">17491.00</div>
                    <!-- <div class="result" [ngClass]="dashboardDate.totalUsersPercent > 0 ? 'red' : ''">
                        <img class="green" src="assets/images/icon-up-green.svg" alt="">
                        <img class="red" src="assets/images/icon-down-red.svg" alt=""> {{dashboardDate.tokenStakedPercent}}%
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chart-box">
                <div class="info">
                    <div class="type">Total Commission</div>
                    <div class="count"><span>ESX</span> 0.11</div>
                    <!-- <div class="result" [ngClass]="dashboardDate.totalUsersPercent > 0 ? 'red' : ''">
                        <img class="green" src="assets/images/icon-up-green.svg" alt="">
                        <img class="red" src="assets/images/icon-down-red.svg" alt=""> {{dashboardDate.rewardsEarnedPercent}}%
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="site-data">
        <h2>Contract Balance</h2>
        <div class="site-table">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="sortable">
                            <th>Chain</th>
                            <th>Token</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ethereum Chain</td>
                            <td>ETH</td>
                            <td>1.23</td>
                            <td><span class="action" (click)="openModal(withdrawTemplate)"><img src="assets/images/icon-edit.svg" alt=""> Withdraw</span></td>
                        </tr>
                        <tr>
                            <td>Ethereum Chain</td>
                            <td>USDT</td>
                            <td>.36</td>
                            <td><span class="action" (click)="openModal(withdrawTemplate)"><img src="assets/images/icon-edit.svg" alt=""> Withdraw</span></td>
                        </tr>
                        <tr>
                            <td>Ethereum Chain</td>
                            <td>USDC</td>
                            <td>.23</td>
                            <td><span class="action" (click)="openModal(withdrawTemplate)"><img src="assets/images/icon-edit.svg" alt=""> Withdraw</span></td>
                        </tr>
                        <tr>
                            <td>Binance SmartChain</td>
                            <td>BNB</td>
                            <td>1.236</td>
                            <td><span class="action"><img src="assets/images/icon-edit.svg" alt=""> Withdraw</span></td>
                        </tr>
                        <tr>
                            <td>Binance SmartChain</td>
                            <td>BUSD</td>
                            <td>.5623</td>
                            <td><span class="action"><img src="assets/images/icon-edit.svg" alt=""> Withdraw</span></td>
                        </tr>
                    </tbody>
                    <!-- <tr *ngIf="userData && userData.length === 0">
                        <td colspan="7" class="text-center">No records found.</td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #withdrawTemplate>
    <div class="d-flex justify-content-between ">
        <h3 class="modal-title">Withdraw</h3>
        <div class="align-self-center" >Balance : XER 23.32</div>
    </div>
    <button type="button" class="btn-close modal-close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control-box dark">
                    <label for="amount">Amount</label>
                    <input id="amount" type="text" class="form-control" autocomplete="off"/>
                </div>
                <!-- <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">Plan name is required</div>
                </div> -->
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary2">Cancel</button>
            <button class="btn btn-focus ms-3">submit <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5021 16.8766C16.1573 17.3079 16.2274 17.9372 16.6587 18.2821C17.0901 18.627 17.7194 18.5568 18.0643 18.1255L21.5625 13.7499C22.1464 13.0197 22.1464 11.9824 21.5625 11.2521L18.0643 6.87655C17.7194 6.44519 17.0901 6.37508 16.6587 6.71996C16.2274 7.06484 16.1573 7.69411 16.5021 8.12547L19.2009 11.501L2.99902 11.501C2.44674 11.501 1.99902 11.9487 1.99902 12.501C1.99902 13.0533 2.44674 13.501 2.99902 13.501L19.2009 13.501L16.5021 16.8766Z" fill="#FAFCFE"/>
              </svg></button>
        </div>
    </div>
</ng-template>