<!-- <div *ngIf="isForgotPassword; else emilInfo"> -->
<div class="top">
    <h1>Forgot Password</h1>
    <p>Enter your email address below to receive a password reset link</p>
</div>
<form class="site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-box">
        <input type="text" formControlName="email" class="form-control" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            <div *ngIf="f['email'].errors['maxlength']">Email must not exceed 100 characters</div>
        </div>
    </div>
    <br>
    <div class="form-button d-grid">
        <button type="submit" [disabled]="isButtonClicked" class="btn btn-primary btn-block">Send link</button>
        <br>
        <button routerLink="/admin/login" class="btn btn-secondary btn-block">Cancel</button>
    </div>
</form>
<!-- </div>
<ng-template #emilInfo>
    <div class="info-box" >
        <div class="image"><img src="/assets/images/icon-email.svg"/></div>
        <h2>Kindly check your email to reset <br> your password</h2>
        <div class="form-button d-grid">
            <button type="submit" class="btn btn-primary btn-block" routerLink="/admin/reset-password">Reset Password</button>
        </div>
    </div>
</ng-template> -->
