<div class="top">
    <h1>Reset Password</h1>
    <p>Enter your new password.</p>
</div>
<form class="site-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-box">
        <input type="password" formControlName="passwd1" class="form-control" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f['passwd1'].errors }" />
        <div *ngIf="submitted && f['passwd1'].errors" class="invalid-feedback">
            <div *ngIf="f['passwd1'].errors['required']">Password is required</div>
            <div *ngIf="f['passwd1'].errors['minlength']"> Password must be at least 3 characters</div>
            <div *ngIf="f['passwd1'].errors['maxlength']">Password must not exceed 20 characters</div>
        </div>
    </div>
    <div class="form-box">
        <input type="password" formControlName="passwd2" class="form-control" placeholder="Re-type password"
            [ngClass]="{ 'is-invalid': submitted && f['passwd2'].errors }" />
        <div
            *ngIf="submitted && f['passwd2'].errors" class="invalid-feedback" >
            <div *ngIf="f['passwd2'].errors['required']">Confirm Password is required</div>
            <div *ngIf="f['passwd2'].errors['matching']">Confirm Password does not match</div>
        </div>
    </div>
    <br>
    <div class="form-button d-grid">
        <button type="submit" [disabled]="isButtonClicked" class="btn btn-primary btn-block">Save Password</button>
        <br>
        <button routerLink="/admin/forgot-password" class="btn btn-secondary btn-block">Cancel</button>
    </div>
</form>
