<div class="auth-page">
    <header class="header">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="logo"><a href="/admin"><img src="assets/images/logo.svg" alt=""></a></div>
                <div>
                    <button class="btn btn-accent">STAKING POOL</button>
                </div>
            </div>
        </div>
    </header>
    <div class="d-md-block"><br></div>
    <div class="main-page">
        <div class="container">
            <div class="container-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            &copy; 2023 EstateX All Rights Reserved • <a href="#">Privacy Policy </a>
        </div>
    </footer>
</div>